
  .appbg {
    background-color: #AEE8FB;
  }
 
  a {
      color: white;
      font-weight: bold;
  }

  .container {
    /* Box-model */
    width: 1024px;
    background-color: #FEF9F0;
    border-radius: 10px;
    padding: 20px;
  
    /* Positioning */
    margin: 40px auto;
  }

  .row {
      margin: auto; 
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#00BCD1;
    color: #FEF9F0;
    text-align: center;
    padding:5px;
 }

  /* xs screen size */
  @media screen and (max-width: 768px) {

    .container {
      /* Box-model */
      width: 100%;
      margin: auto;
    }
} 
